extends layouts/main
include mixins/videoBlock

block content
    .videos
        each item in videos
            +videoBlock({
                title : item.title,
                description : item.description
            })


//- block content
//-     .videos
//-         each item in videos
//-             h1= item.title
//-             p= item.description